.ContainerHome {
    display: flex;
    justify-content: center;
}

.bgHome {
    display: flex;
    height: 732px;
    width: 100%;
    justify-content: center;
    
}

.bgHome img {
    width: 600px;
}