.ContainerHome {
    display: flex;
    justify-content: center;
}

.bgHome {
    display: flex;
    justify-content: center;
    background-size: contain;

}

.bgHome img {
    width: 600px;
    background-size: contain;
}