.ContainerIndo {
    display: flex;
    padding-top: 40px;
}

.reportIndo {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/indonesiamap2.png');
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    justify-content: flex-end;
}

.cardsIndo {
    display: flex;
    margin-left: 20px;
    width: 173px;
    height: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid black;
    margin-bottom: 30px;
}