.Container {
    display: flex;
}

.reportIndo {
    display: flex;
    height: 730px;
    width: 100%;
    background-image: url('../../assets/indonesiamap.png');
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
}

.cards {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    width: 173px;
    height: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid black;
}