.ContainerProvinsi {
    display: flex;
    flex-direction: unset;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.cardProvinsi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 256px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px 10px;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
}

.cardChild {
    display: flex;
    width: 80px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin:0px 3px;
    text-align: center;
    height: 80%;
}