.ContainerGlobal {
    display: flex;
    padding-top: 40px;
}

.reportGlobal {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/globalmap2.png');
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
    background-size: contain;
}

.cardsGlobal {
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 173px;
    height: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid black;
}